*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h2 {
  font-family: "Seaweed Script", cursive;
  font-size: 2.5rem;
  background-image: linear-gradient(to right, #ffffff, #d8dde7, #aabfcd, #78a3ad, #4b8785, #4b8785, #4b8785, #4b8785, #78a3ad, #aabfcd, #d8dde7, #ffffff);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.text {
  width: 70%;
  margin: 50px auto 0 auto;
}

body {
  overflow: auto;
  background-color: #276046;
}

header {
  position: relative;
  height: 400px;
  overflow: hidden;
}
header video {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}
header .wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
}
header .wave #spiral {
  position: absolute;
  width: 200px;
  left: 22%;
  top: 10%;
  z-index: 100;
}
header .wave #fougere,
header .wave #palmier {
  width: 400px;
}
header .wave #palmier {
  position: absolute;
  right: 0;
}

video {
  position: absolute;
  top: 0;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

main {
  position: relative;
  overflow: auto;
  background-color: #276046;
}

.little {
  font-family: "Seaweed Script", cursive;
  font-size: 2rem;
  width: 150px;
  height: 75px;
  border: 5px solid #133322;
  position: absolute;
  right: 5%;
  bottom: 55%;
  background-color: rgba(22, 60, 38, 0.9);
  color: #fff;
}
.little:hover {
  transform: scale(1.1);
}
.little:active {
  transform: scale(0.95);
}

.big {
  overflow: auto;
  width: 98%;
  border: 10px solid #133322;
  margin: 200px auto;
  background-color: rgba(22, 60, 38, 0.9);
  justify-content: center;
  align-items: center;
  color: #fff;
}
.big p {
  font-family: "Great Vibes", cursive;
  font-size: 2.5rem;
  padding: 10px 20px 0 20px;
  color: #ffffff;
}

/*slide2*/
#slide2 {
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
#slide2 .text h2 {
  font-size: 2.8rem;
  -webkit-text-decoration: underline #fff;
          text-decoration: underline #fff;
}
#slide2 #btn2 {
  width: 200px;
  right: 3%;
}

#slide2.active {
  display: block;
  opacity: 1;
}

/*slide 3*/
#slide3 {
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
#slide3 #table {
  display: flex;
  justify-content: space-evenly;
  padding-top: 100px;
}
#slide3 #table table {
  border-collapse: collapse;
  width: 50%;
  margin-bottom: 20px;
}
#slide3 #table table th,
#slide3 #table table td {
  text-align: left;
  padding: 8px;
  font-family: "Seaweed Script", cursive;
  color: #fff;
  font-size: 2rem;
}
#slide3 #table table th:last-child,
#slide3 #table table td:last-child {
  text-align: center;
}
#slide3 #table table tr:first-child {
  font-weight: bold;
}
#slide3 #table table select {
  width: 100%;
  padding: 10px;
  font-family: "Seaweed Script", cursive;
  color: #fff;
  background-color: rgba(22, 60, 38, 0.9);
  border: 3px solid #133322;
  font-size: 1.5rem;
}
#slide3 #table table button {
  font-family: "Seaweed Script", cursive;
  font-size: 2rem;
  width: 180px;
  height: 60px;
  border: 5px solid #133322;
  background-color: rgba(22, 60, 38, 0.9);
  color: #fff;
}
#slide3 #table table button:hover {
  transform: scale(1.1);
}
#slide3 #table table button:active {
  transform: scale(0.95);
}
#slide3 #table #description {
  width: 35%;
  overflow: auto;
}

#slide3.active2 {
  display: block;
  opacity: 1;
}/*# sourceMappingURL=style.css.map */