*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$txt: 'Lato', sans-serif;
$anecdote: 'Great Vibes', cursive;
$accoloade: 'Neuton', serif;
$colorBtn: rgb(22, 60, 38, 0.9);
$colorBorder: #133322;

p,
h2 {
    font-family: $txt;
    font-size: 2.5rem;
    background-image: linear-gradient(to right, #ffffff, #d8dde7, #aabfcd, #78a3ad, #4b8785, #4b8785, #4b8785, #4b8785, #78a3ad, #aabfcd, #d8dde7, #ffffff);
    background-clip: text;
    color: transparent;
}

.text {
    width: 70%;
    margin: 50px auto 0 auto;

}

body {
    overflow: auto;
    background-color: #276046;
}

$header-height: 400px;

header {
    position: relative;
    height: $header-height;
    overflow: hidden;

    video {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1;
    }

    .wave {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: $header-height;
        z-index: 1;

        #spiral {
            position: absolute;
            width: 200px;
            left: 22%;
            top: 10%;

            z-index: 100;
        }

        #fougere,
        #palmier {
            width: 400px;
        }

        #palmier {
            position: absolute;
            right: 0;
        }

    }
}



video {
    position: absolute;
    top: 0;
    width: 100%;
    height: fit-content;

}


main {

    position: relative;
    overflow: auto;
    background-color: #276046;
}

.little {
    font-family: $txt;
    font-size: 2rem;
    width: 200px;
    height: 75px;
    border: 2px solid $colorBorder;
    position: absolute;
    right: 10%;
    bottom: 40%;
    background-color: $colorBtn;
    color: #fff;

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        transform: scale(0.95);
    }
}

.big {
    overflow: auto;
    width: 80%;
    border: 2px solid $colorBorder;
    margin: 200px auto 50px auto;
    background-color: $colorBtn;
    justify-content: center;
    align-items: center;
    color: #fff;



    p {
        font-family: $anecdote;
        font-size: 3rem;
        padding: 10px 20px 0 20px;
        color: #ffffff;
        text-align: center;

    }

    a {
        font-family: $anecdote;
        font-size: 2rem;
        padding: 10px 20px 0 20px;
        color: #ffffff;
        float: right;
        text-decoration: none;
        font-style: italic;

    }
}

/*slide1*/

#slide1 {
    .text p:last-child {
        text-align: right;
    }

}


/*slide2*/

#slide2 {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;

    .text {
        h2 {
            font-size: 2.8rem;
            margin-bottom: 30px;

            span {
                text-decoration: underline #fff;
            }
        }

        ul {
            font-family: $txt;
            font-size: 2rem;
            padding: 10px 20px 0 20px;
            color: #ffffff;
            list-style-type: square;
        }
    }

    #btn2 {
        width: 300px;

        bottom: 35%;
    }
}

#slide2.active {

    display: block;
    opacity: 1;

}


/*slide 3*/
#slide3 {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;


    #table {
        display: flex;

        padding-top: 100px;
        width: 80%;
        margin: 0 auto;


        table {
            border-collapse: collapse;
            width: 60%;
            margin-bottom: 20px;
            min-width: 850px;


            th,
            td {
                text-align: left;
                padding: 8px;
                font-family: $txt;
                color: #fff;
                font-size: 2rem;

            }

            th {
                text-transform: uppercase;
                text-align: center;
            }


            th:last-child,
            td:last-child {
                text-align: center;
            }

            tr:first-child {
                font-weight: bold;
            }

            select {
                width: 100%;
                padding: 10px;
                font-family: $txt;
                color: $colorBtn;
                background-color: #fff;
                border: 3px solid $colorBorder;
                font-size: 1.5rem;
            }

            button {
                font-family: $txt;
                font-size: 2rem;
                width: 180px;
                height: 60px;
                border: 2px solid $colorBorder;
                background-color: $colorBtn;
                color: #fff;

                &:hover {
                    transform: scale(1.1);
                }

                &:active {
                    transform: scale(0.95);
                }
            }

        }

        #description {
            width: 35%;

            overflow: auto;
            margin-left: 50px;

            h2 {
                padding-bottom: 30px;
            }
        }
    }




}

#slide3.active2 {
    display: block;
    opacity: 1;
}

@media screen and (max-width: 1600px) {
    #slide3 {
        #table {
            display: flex;
            flex-wrap: wrap;

            #description {
                width: 80%;
                margin-top: 50px;
            }
        }
    }
}

/*slide4*/





#slide4 {
    display: none;
    position: relative;

    #imgSlide4 {
        img:first-child {
            position: absolute;
            top: -10%;
            left: -10%;
            width: 500px;
            animation: rotate infinite 10s linear;
            transform-origin: center;

            @keyframes rotate {
                from {
                    transform: rotate(0deg);
                }

                to {
                    transform: rotate(360deg);
                }
            }


        }

        img:last-child {
            float: right;
            padding-bottom: 220px;
        }
    }

    #pSlide4 {
        p {
            font-size: 3rem;
            display: none;
            font-family: $txt;
        }

        #p1Slide4 {

            position: absolute;
            top: 40%;
            left: 5%;
            transform: translateY(-50%);
        }

        #p2Slide4 {
            position: absolute;
            bottom: 40%;
            left: 50%;
            transform: translateX(-50%);
        }

        #p3Slide4 {
            position: absolute;
            bottom: 25%;
            right: 20%;
        }
    }
}

#slide4.active3 {
    display: block;
    opacity: 1;
}

@media screen and (max-width: 1300px) {
    #slide4 {
        #pSlide4 {
            p {
                font-size: 2rem;
                

            }

            #p1Slide4 {

                top: 40%;
                left: 5%;

            }

            #p2Slide4 {

                bottom: 45%;
                left: 50%;

            }

            #p3Slide4 {

                bottom: 30%;
                right: 20%;
            }
        }
    }

}

/* slide5*/
#slide5 {
    display: none;
    height: 1300px;

    input[type="range"] {
        --progress: calc((100% - 50px) * calc(var(--value) / 100));
        width: 80%;
        margin: 100px auto;
        display: block;
        cursor: pointer;
        -webkit-appearance: none;
        padding: 0;
        border-radius: 25px;
        background: linear-gradient(to right, blue 0%, blue var(--progress), #c00000 var(--progress), #c00000 100%);
        background-size: 100% 100%;
        box-sizing: content-box;
        position: relative;
        height: 30px;

        &::before {
            content: 'Le plus important suffira, merci !';
            left: 0;
            width: 392px;
           
        }

        &::after {
            content: 'Je veux tous  savoir !';
            right: 0;
            width: 272px;
            }

        &::after,
        &::before {
            font-size: 3rem;
            color: #fff;
            font-weight: 900;           
            font-family: $txt;
            position: absolute;
            top: 165%;
             
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 50px;
            height: 50px;
            border: 2px solid #A7A7A7;
            border-radius: 15px;
            background: rgb(237, 125, 49);

            &:before {
                content: attr(data-count);
                display: block;
                background: green;
                width: 10px;
                height: 10px;
            }
        }
    }

    #container {
        width: 80%;
        margin: 0 auto;

        .bigBox {
            display: flex;
            justify-content: space-evenly;
            padding: 30px;
            width: 100%;

            &.hidden {
                display: none;
            }

            .littleBox {
                display: flex;
                justify-content: space-evenly;
                width: 50%;

                img {
                    width: 100px;
                }

                p {
                    font-size: 1.5rem;
                    width: 40%;
                }
            }
           
        }
        .bigBox:last-child {
            padding-bottom: 200px;
        }
    }

    #btn5 {
        bottom: -9%;
        width: 350px;
    }


}

/*slide6*/

#slide6 {
    display: none;

    #header {
        position: relative;

        &>p {
            text-align: center;
            padding-top: 100px;

        }

        img {
            width: 400px;
            position: absolute;
            right: 50px;
            top: 20px;

        }
    }

    #central {
        display: flex;
        justify-content: space-evenly;
        margin: 100px 0;
        img {
            height: auto;
            width: auto;
        }

        p {
            font-size: 1.8rem;
            width: 40%;
        }
    }

    #btn {
        #btn6,#btn7 {
            
            bottom: 15%;
            width: 500px;
        }

        #btn6 {
            left: 10%;            
        }
        #btn7{
            right: 10%;
        }
    }
}

#slide6.active6 {
    display: block;
}

@media screen and (max-width:1300px) {
    #slide6 {
        #btn {
            #btn6, #btn7 {
                font-size: 1.5rem;
                width: 400px;
                bottom: 20%;
            }
        }
    }
}