*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$txt: 'Seaweed Script', cursive;
$anecdote: 'Great Vibes', cursive;
$accoloade: 'Neuton', serif;
$colorBtn: rgb(22, 60, 38, 0.9);
$colorBorder: #133322;

p,
h2 {
    font-family: $txt;
    font-size: 2.5rem;
    background-image: linear-gradient(to right, #ffffff, #d8dde7, #aabfcd, #78a3ad, #4b8785, #4b8785, #4b8785, #4b8785, #78a3ad, #aabfcd, #d8dde7, #ffffff);
    background-clip: text;
    color: transparent;
}

.text {
    width: 70%;
    margin: 50px auto 0 auto;

}

body {
    overflow: auto;
    background-color: #276046;
}

$header-height: 400px;

header {
    position: relative;
    height: $header-height;
    overflow: hidden;

    video {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1;
    }

    .wave {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: $header-height;
        z-index: 1;

        #spiral {
            position: absolute;
            width: 200px;
            left: 22%;
            top: 10%;
            // animation: wave 2s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
            // transform-origin: center;            
            z-index: 100;
        }

        #fougere,
        #palmier {
            width: 400px;
        }

        #palmier {
            position: absolute;
            right: 0;
        }

    }
}

// @keyframes wave {
//     0% {
//         transform: scale(1);
//     }

//     50% {
//         transform: scale(0.8);
//     }

//     100% {
//         transform: scale(1);
//     }
// }


video {
    position: absolute;
    top: 0;
    width: 100%;
    height: fit-content;

}


main {

    position: relative;
    overflow: auto;
    background-color: #276046;
}

.little {
    font-family: $txt;
    font-size: 2rem;
    width: 150px;
    height: 75px;
    border: 5px solid $colorBorder;
    position: absolute;
    right: 5%;
    bottom: 55%;
    background-color: $colorBtn;
    color: #fff;

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        transform: scale(0.95);
    }
}

.big {
    overflow: auto;
    width: 98%;
    border: 10px solid $colorBorder;
    margin: 200px auto;
    background-color: $colorBtn;
    justify-content: center;
    align-items: center;
    color: #fff;




    p {
        font-family: $anecdote;
        font-size: 2.5rem;
        padding: 10px 20px 0 20px;
        color: #ffffff;

    }
}

/*slide2*/

#slide2 {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;

    .text h2 {
        font-size: 2.8rem;
        text-decoration: underline #fff;
    }

    #btn2 {
        width: 200px;
        right: 3%;
    }
}

#slide2.active {

    display: block;
    opacity: 1;

}


/*slide 3*/
#slide3 {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    

    #table {
        display: flex;
        justify-content: space-evenly;
        padding-top: 100px ;
        table {
            border-collapse: collapse;
            width: 50%;
            margin-bottom: 20px;


            th,
            td {
                text-align: left;
                padding: 8px;
                font-family: $txt;
                color: #fff;
                font-size: 2rem;
            }

            th:last-child,
            td:last-child {
                text-align: center;
            }

            tr:first-child {
                font-weight: bold;
            }

            select {
                width: 100%;
                padding: 10px;
                font-family: $txt;
                color: #fff;
                background-color: $colorBtn;
                border: 3px solid $colorBorder;
                font-size: 1.5rem;
            }

            button {
                font-family: $txt;
                font-size: 2rem;
                width: 180px;
                height: 60px;
                border: 5px solid $colorBorder;
                background-color: $colorBtn;
                color: #fff;

                &:hover {
                    transform: scale(1.1);
                }

                &:active {
                    transform: scale(0.95);
                }
            }

        }

        #description {
            width: 35%;
            overflow: auto;
        }
    }




}

#slide3.active2 {
    display: block;   
    opacity: 1;
}
/*slide4*/

#slide4 {
    display: none; 
    position: relative;
    #imgSlide4 {
        img:first-child {
            position: absolute;
            top: -10%;
            left: -10%;
            width: 500px;
        }
        img:last-child {
            float: right;
            padding-bottom: 220px;            
        }
    }
   #pSlide4{
    p{
        font-size: 3rem;
        display: none;
    }

    #p1Slide4 {
       
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
    }
    #p2Slide4 {
        position: absolute;
        bottom: 40%;
        left: 50%;
        transform: translateX(-50%);
    }
    #p3Slide4 {
        position: absolute;
        bottom: 25%;
        right: 25%;
    }
   }
}
#slide4.active3 {
    display: block;   
    opacity: 1;
}

/* slide5*/
#slide5 {
    display: none;
    
      
}